* {
  margin: 0;
  padding: 0;
}
html,
body {
  height: 510px !important;
  overflow: hidden;
  box-shadow: 0 1px 4px 0 rgba(31, 56, 88, 0.15);
}
#root {
  padding: 10px;
  width: 603px;
  position: relative;
  height: 500px;
  background: #fff;
}

li.url-item {
  list-style: none;
  margin-bottom: 5px;
  font-size: 13px;
}

li.url-item textarea {
  outline: none !important;
  resize: none !important;
  border: 1px solid #d3d3d3;
  box-sizing: border-box;
  word-break: break-all;
  height: 20px;
  color: #f37327;
}

li.url-item span {
  cursor: pointer;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  color: #333;
}
li.url-item span:hover {
  opacity: 0.8;
  text-decoration: underline;
  color: rgb(3, 102, 214);
}

li.url-item .seperator:hover {
  opacity: 1;
  text-decoration: none;
  color: red;
}

li.url-item .from {
  display: inline-block;
  width: 300px;
  vertical-align: middle;
  text-indent: 5px;
}

li.url-item-head {
  background: rgba(3, 102, 214,0.4);
  font-size: 15px;
  position: relative;
  font-weight: bold;
}

li.url-item-head span:hover {
  opacity: 1;
  text-decoration: none;
  color: #fff;
}

li.url-item-head a {
  position: absolute;
  right: 0;
  bottom: 0;
  color: gray;
  font-size: 12px;
  padding: 2px 5px;
}

li.url-item-head a:hover {
  opacity: 0.7;
}

li.url-item-head span:hover {
  cursor: default;
}

li.url-item .seperator {
  display: inline-block;
  font-weight: bold;
  color: red;
  padding: 0 20px;
  font-size: 16px;
  vertical-align: middle;
  cursor: default;
}

li.url-item .to {
  display: inline-block;
  width: 170px;
  vertical-align: middle;
  margin-right: 10px;
}

li.url-item-head .from {
  color: white;
}

li.url-item-head .to {
  color: white;
  margin-left: 8px;
}

.delete-btn {
  text-decoration: underline;
  color: red;
  margin-left: 8px;
}
.delete-btn:hover{
  color:red;
}

.collect-urls {
  margin-bottom: 10px;
  display: flex;
  justify-content: space-between;
}

.url-group-item {
  height: 360px;
  overflow: auto;
}

.url-group-item::-webkit-scrollbar {
  display: none;
}

footer {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
}

.deleteAll-btn {
  width: 70px;
  height: 25px;
  float: left;
  margin-left: 10px;
}

.switch {
  right: 15px;
  float: right;
  margin-right: 20px;
}
